.login-background {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../../img/login/login_background.jpg");
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 600px;
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    font-size: 36px;
    font-weight: 700;
    color: #fff;
}

.underline{
    width: 61px;
    height: 6px;
    border-radius: 9px;
    background: #fff;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 60px;
    background: #eaeaea;
    border-radius: 6px;
}

.input img{
    margin: 0px 20px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #000;
    font-size: 19px;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 40px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    background: #fff;
    color: #000;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: #fff;
    font-size: 18px;
}

.forgot-password span{
    color: #fff;
    cursor: pointer;
}