.user_management-content {
    width: 100%;
}

.user_management-title {
    color: #04ace2;
}

.user_management-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user_management-activity {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user_management-search {
    background: #beffa8;
    padding: 9px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 350px;
}

.user_management-search input {
    border: none;
    outline: none;
    background: transparent;
    padding: 5px 10px;
    font-size: 15px;
    display: flex;
    outline: none;
    width: 100%;
}

.user_management-search .search-icon {
    color: #23660c;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.search-icon:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.user_management-list {
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
}

.user_management-list table {
    width: 100%;
    border-collapse: collapse;
    text-transform: uppercase;
    table-layout: fixed;
    /* Ensures that the table respects the widths set */
}

.user_managaement-list td {
    border: none;
    border-bottom: 1px solid #000000;
    padding: 10px;
    text-align: center;
}

.user_management-list th {
    border: none;
    text-align: center;
    border-bottom: 1px solid #000000;
    padding: 10px;
}

.user_management-list tbody tr:hover {
    background-color: #beffa8;
    cursor: pointer;
}

.buttons-act {
    background: #beffa8;
    padding: 15px;
    border-radius: 10px;
    color: #23660c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons-act .buttons-icon {
    font-size: 20px;
    transition: 0.5s ease-in-out;
}

.buttons-icon:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.user_management-list {
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
}

.user_management-list table{
    width: 100%;
    border-collapse: collapse;
    text-transform: uppercase;
    table-layout: fixed;
}

.user_management-list td{
    border: none;
    border-bottom: 1px solid #000000;
    padding: 10px;
    text-align: center;
}

.user_management-list th{
    border: none;
    text-align: center;
    border-bottom: 1px solid #000000;
    padding: 10px;
}

.user_management-list tbody tr:hover{
    background-color: #beffa8;
    cursor: pointer;
}

