.submit_ticket-content{
    width: 100%;
}

.submit_ticket-title{
    color: #04ace2;
}

.submit_ticket-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.submit_ticket-activity-header{
    display: flex;
    align-items: center;
    gap: 20px;
}